AML_SUB_ID=''
AML_RESOURCE_GROUP=''
AML_WORKSPACE_NAME=''
AML_EXPERIMENT_NAME=''
AML_ENV_NAME = ''
AML_MODEL_NAME = ''
AML_DATASET_NAME = ''
AML_COMPUTE_NAME = ''
AML_COMPUTE_MIN_NODES = n
AML_COMPUTE_MAX_NODES = n
AML_VM_SIZE = ""